<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>bai3</title>
    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
</head>
<body>
    <form action="">
        
        <p>Email <input type="text" name="email" id="email"></p>
        <p>Password <input type="password" name="password" id="password"></p>
       
        <button id="btn" type="button">login</button>
    </form>
</body>
<script>
    $("#btn").click(function(){
        var email = $("#email").val();
       
        var password = $("#password").val();
      
     $.ajax({
      
         url : "/user",
        
         method : "POST",
    
         data : {
            
             email : email,
             password : password,
           
         }
     }).then(function(response){
         console.log(response);
        
     })
     .catch(function (err) {
         console.log(err.error);
         
     })




    })
</script>

</html>